<%- htmlContent %>
<form action="/submit" method="POST">
    <input type="text" name="fName"
        placeholder="First Name">
    <input type="text" name="lName"
        placeholder="Last name">
    <input type="submit" value="submit">
</form>